
div{
    border: 1px solid black;
    float: left;
}

#header{
    flex-wrap: nowrap;
    width: 100%;
    height: 60px;
}



#sival{
float: left;
height: 60px;
}



#menu{
    list-style-type: none;
    display: inline-block;

}
#menu>li{
    display: inline-block;

}

#info{
width: 100%;
height:50px;
margin: auto;
}

#navigation{
    height: fit-content;
}


#nav{
    background-color: skyblue;
    list-style-type: none;
    height:25px;
}

#navbar{
    margin-left: 6%;
    text-align: center;
    font-size: 130%;
    display: inline-block;
    flex-wrap: nowrap;
}


